.breadcrumbs {
  --header-max-width: var(--breakpoint-xl);
  width: 100%;
  max-width: var(--header-max-width);
  margin: 0 auto;
  padding: 0 var(--spacing-m);
  box-sizing: border-box;

  & nav {
    margin: 0;
  }
}
