@use 'src/styles/breakpoints';
@import 'src/styles/variables';

.wrapper {
  background-color: #f4f4f4;
  padding: var(--spacing-s);
  margin-bottom: var(--spacing-xl);
}

.title {
  display: flex;
}

.titleText {
  display: flex;
  margin-bottom: var(--spacing-s);
  flex: 1 1 0%;
  align-items: center;

  svg {
    margin-right: var(--spacing-xs);
  }

  h2 {
    margin: 0;
    font-size: var(--fontsize-body-l);
  }
}

// Increase specificity to consistently override HDS styles
.wrapper {
  .mapLink {
    display: inline-flex;
    align-items: center;
    font-size: var(--fontsize-body-s);
    text-decoration: none;
    margin-bottom: var(--spacing-s);

    &:hover {
      text-decoration: underline;
    }

    svg {
      margin-left: var(--spacing-2-xs);
      fill: var(--color-primary-black);
    }
  }
}

.meta {
  margin-top: $spacing-s;

  .locationName {
    font-size: var(--fontsize-heading-m);
    font-weight: 600;
    margin: var(--spacing-s) 0 var(--spacing-xs);
  }

  .location {
    font-size: var(--fontsize-body-l);
    margin-bottom: 0.5rem;
  }

  a {
    color: $color-tram-dark;
  }

  & > *:not(:last-child) {
    margin-bottom: $spacing-s;
  }
}

.mapContainer {
  border: none;
  width: 100%;
  height: 20rem;
}

a.externalLink {
  display: flex;
  margin: var(--spacing-xs) 0;
  color: var(--color-secondary-link);
  svg g path {
    color: var(--color-secondary-link);
  }
}
