@use '../../../../styles/breakpoints' as breakpoints;

.searchResultListContainer {
  background-color: var(--color-white);
  padding-bottom: var(--spacing-layout-2-xl) !important;
}

.betaResultNotification {
  line-height: 1.8rem;
}

.count {
  font-size: var(--fontsize-body-l);
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;

  @include breakpoints.respond_above(s) {
    text-align: left;
  }

  @include breakpoints.respond_above(m) {
    margin-top: 0;
    margin-bottom: 2rem;
  }
}

.searchResultWrapper {
  display: grid;
  grid-row-gap: var(--spacing-xs);
  max-width: 1120px;
  margin: auto;

  .eventListWrapper {
    .loadMoreWrapper {
      margin-top: 1.5rem;

      @include breakpoints.respond_above(s) {
        margin-top: 0;
      }
    }
  }
}

.row {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  @include breakpoints.respond-above(s) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.rowGroup {
  display: contents;
  align-items: center;

  & > *:not(:last-child) {
    margin-right: var(--spacing-m);
  }
}
