@import 'src/styles/breakpoints';

.keyword {
  &.hideOnMobile {
    @include respond_below(s) {
      display: none;
    }
  }

  &.transparent,
  &.transparent:hover {
    background-color: unset;
    cursor: none;
    padding: 0;
  }

  &.blackOnMobile {
    @include respond_below(s) {
      background-color: var(--color-black-80);
      color: var(--color-white);
    }
  }

  &.whiteOnly,
  &.whiteOnly:hover {
    background-color: var(--color-white);
    color: var(--color-black-90);
    cursor: none;
    padding: 0;
  }
}
