@use '../../styles/breakpoints';

.rnsContainer {
  background-color: var(--color-black-5);
  .rnsContainerInner {
    margin: 0 auto;
    max-width: var(--container-width-xl);

    @include breakpoints.respond-below(xl) {
      padding: 0 var(--spacing-m);
    }

    &.withPadding {
      padding-top: 48px;
    }

    .rnsCookiesRequired {
      padding-top: 0 !important;
      padding-bottom: 80px !important;
    }
  }
}
