@use '../../../../styles/breakpoints' as breakpoints;

$buttonWidth: 180px;

.searchContainerKoros {
  fill: var(--color-white);
}

.searchContainer {
  color: var(--color-primary-black);
  background-color: var(--color-theme-background);
  padding: 2.375rem 0 1.5rem 0;
  position: relative;

  .contentContainer {
    margin-bottom: 2.375rem;

    h1 {
      font-size: var(--fontsize-heading-xl);
      font-weight: 500;
      margin-top: 2px;
      margin-bottom: var(--spacing-xl);
    }
  }

  .rowWrapper {
    display: grid;
    height: fit-content;
    align-items: center;

    grid-template-columns: 1fr;
    grid-gap: var(--spacing-m);

    margin-bottom: var(--spacing-xs);

    @include breakpoints.respond-above(s) {
      grid-template-columns: 1fr;
      grid-gap: var(--spacing-s);

      margin-bottom: var(--spacing-xs);
    }
  }

  .fillGridRow {
    @include breakpoints.respond-above(m) {
      grid-column: 1 / 1;
    }
  }

  .buttonWrapper {
    @include breakpoints.respond-above(m) {
      grid-column: span 1 / 5;
    }
    @include breakpoints.respond-below(m) {
      grid-column: 1 / 3;
    }
  }

  .row {
    display: grid;
    grid-gap: var(--spacing-xs);

    @include breakpoints.respond-above(s) {
      grid-template-columns: 1fr 1fr;
    }

    @include breakpoints.respond-above(m) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }

  .textSearchRow {
    align-items: flex-end;
    margin-bottom: var(--spacing-2-xs);

    @include breakpoints.respond-above(m) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    & > :first-child {
      @include breakpoints.respond-above(s) {
        grid-column: 1 / 5;
      }
      padding: var(--spacing-xs);

      svg {
        margin-right: var(--spacing-xs);
      }
    }

    .searchInputWrapper {
      padding-left: var(--spacing-2-xs);
    }
  }

  .checkbox {
    margin-top: var(--spacing-xs);
    label {
      display: flex;
      align-items: center;
      color: var(--color-primary-black);
    }
    @include breakpoints.respond-above(s) {
      margin-top: 0;
    }
  }

  .categoriesSelector {
    --icon-size: var(--spacing-layout-xs);

    button {
      font-size: var(--fontsize-body-m);
      line-height: 1.25rem;

      /* Icon on start of button */
      span {
        font-size: var(--fontsize-body-m);

        svg {
          width: var(--icon-size);
          margin-right: var(--spacing-xs);
          span {
            margin: 0;
          }
        }
      }

      /* Icon on end of button */
      svg {
        width: var(--icon-size);
      }

      /* Text area */
      & > div {
        height: calc(
          var(--fontsize-body-m) * var(--lineheight-m) + 1px
        ) !important; // Since the font-size in button is M-sized, this calculation should be aswell.
      }
    }
  }

  .categoriesSelector,
  .dateSelectorWrapper,
  .placeSelector {
    --icon-size: var(--spacing-layout-xs);
    --border-width: 0;
    ---dropdown-height: var(--spacing-3-xl);
    --menu-item-height: var(---dropdown-height);

    max-width: unset;
    height: var(--dropdown-height);
  }

  .placeSelector {
    /* 1 liner text with ellipsis overflow */
    & > button > div > label + div {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 100%;
      padding-left: var(--spacing-3-xs);
    }
  }

  [id='categories-sl-container'] {
    /* Fix the menu should always open downwards. */
    bottom: unset !important;
  }
}

.label {
  font-size: var(--fontsize-body-m);
  font-weight: 500;
  line-height: normal;

  @include breakpoints.respond-below(s) {
    display: none;
  }
}

.searchTitle {
  font-size: var(--fontsize-heading-xl);
  font-weight: 500;
  margin-top: 2px;
  margin-bottom: var(--spacing-xl);

  &.withDescription {
    margin-bottom: var(--spacing-s) !important;
  }
}

.searchDescription {
  font-size: var(--fontsize-heading-m);
  margin-top: var(--spacing-s);
  margin-bottom: var(--spacing-xl);
}
