@use '../../../../styles/breakpoints' as breakpoints;

$buttonWidth: 180px;

.searchContainerKoros {
  fill: var(--color-white);
}

.searchContainer {
  color: var(--color-primary-black);
  background-color: var(--color-theme-background);
  padding: 2.375rem 0 1.5rem 0;
  position: relative;

  .contentContainer {
    margin-bottom: 2.375rem;

    h1 {
      font-size: var(--fontsize-heading-xl);
      font-weight: 500;
      margin-top: 2px;
      margin-bottom: var(--spacing-xl);
    }
  }

  .rowWrapper {
    display: grid;
    height: fit-content;
    align-items: center;

    grid-template-columns: 1fr;
    grid-gap: var(--spacing-m);

    margin-bottom: var(--spacing-xs);

    @include breakpoints.respond-above(s) {
      grid-template-columns: 1fr;
      grid-gap: var(--spacing-xs);

      margin-bottom: var(--spacing-xs);
    }
  }

  .buttonWrapper {
    @include breakpoints.respond-above(s) {
      grid-column: span 1 / 3;
    }
    @include breakpoints.respond-above(l) {
      grid-column: span 1 / 5;
    }
  }

  .row {
    display: grid;
    grid-gap: var(--spacing-xs);

    @include breakpoints.respond-above(s) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include breakpoints.respond-above(l) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }

  .textSearchRow {
    align-items: flex-end;

    @include breakpoints.respond-above(m) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    & > :first-child {
      grid-column: 1 / 5;
    }
  }

  .checkbox {
    margin-top: var(--spacing-xs);
    label {
      display: flex;
      align-items: center;
      color: var(--color-primary-black);
    }
    @include breakpoints.respond-above(s) {
      margin-top: 0;
    }
  }

  .dateSelectorWrapper {
    & > div {
      min-height: (
        var(--spacing-3-xl)
      ); // Fill 2px of available space under dropdown
    }
  }
}

.label {
  font-size: var(--fontsize-body-m);
  font-weight: 500;
  line-height: normal;

  @include breakpoints.respond-below(s) {
    display: none;
  }
}

.searchTitle {
  font-size: var(--fontsize-heading-xl);
  font-weight: 500;
  margin-top: 2px;
  margin-bottom: var(--spacing-xl);

  &.withDescription {
    margin-bottom: var(--spacing-s) !important;
  }
}

.searchDescription {
  font-size: var(--fontsize-heading-m);
  margin-top: var(--spacing-s);
  margin-bottom: var(--spacing-xl);
}
