@use '../../styles/breakpoints' as breakpoints;

.eventListWrapper {
  .eventsWrapper {
    display: grid;
    grid-gap: var(--spacing-xs);
    margin-bottom: 1.5rem;

    @include breakpoints.respond-above(s) {
      grid-gap: var(--spacing-s);
      margin-bottom: var(--spacing-xl);
    }
  }
  .loadMoreWrapper {
    display: flex;
    justify-content: center;

    &.buttonCentered {
      text-align: center;
    }
  }
}

.default {
  .eventsWrapper {
    display: grid;
    grid-template-columns: 1fr;

    @include breakpoints.respond-above(s) {
      grid-template-columns: 1fr 1fr;
      grid-gap: 1.75rem 3rem;
    }

    @include breakpoints.respond-above(m) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
