NODE_ENV=development
GRAPHQL_PROXY_DEBUG=1
GRAPHQL_PROXY_PORT=4200
GRAPHQL_PROXY_MAP_OPEN_DATA_API_BASE_URL=https://kartta.hel.fi/ws/geoserver/avoindata
GRAPHQL_PROXY_SENTRY_DSN=
GRAPHQL_PROXY_SENTRY_ENVIRONMENT=local

GRAPHQL_PROXY_DISABLE_WINSTON_LOGGING=true
GRAPHQL_PROXY_INTROSPECTION=true
GRAPHQL_PROXY_HAUKI_DATASOURCE=https://hauki.api.hel.fi/v1/
GRAPHQL_PROXY_SERVICE_MAP_DATASOURCE=https://www.hel.fi/palvelukarttaws/rest/v4/