.iconButton {
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  background-color: var(--color-theme-background);
  border-color: var(--color-theme-background);
  padding: 0;
  justify-content: center;
  align-items: center;

  svg {
    height: 1.5rem;
    width: 1.5rem;
  }

  &:focus {
    outline: 2px solid var(--color-primary-black);
  }
}

.small {
  height: 1.25rem;
  width: 1.25rem;

  svg {
    height: 1rem;
    width: 1rem;
  }
}

.backgroundWhite {
  background-color: var(--color-white);
  border-color: var(--color-white);
}
