.dateInputsContainer {
  button {
    --selected-date-color: var(--color-primary-black);
    --selected-date-background: var(--color-fog);
  }
  button:hover {
    --background-color: var(--color-fog-light);
  }

  & > div:not(:first-child) {
    margin-top: var(--spacing-s);
  }
}
