@import 'fonts';
@import 'variables';

html,
body,
#__next,
main {
  height: 100%;
  color: var(--color-primary-black);
}

* {
  box-sizing: border-box;
  font-family: $font-family-base;
  --menu-item-background-color-highlighted: var(--color-success);
}

.pageLayout {
  row-gap: 0 !important;
}

.articlesArchive {
  button,
  button:active {
    background-color: var(--color-success);
    border: none;
  }
  button:hover,
  button:focus {
    background-color: var(--color-success-dark);
  }
}

:root {
  --color-theme-background: var(--color-copper-light);
  --color-primary-black: var(--color-black-90);
  --color-secondary-link: var(--color-success-dark);
  --color-link-show-all: var(--color-success-dark);
  --color-input-light: var(--color-success-light);
  --color-input: var(--color-success);
  --color-input-dark: var(--color-success-dark);
  --color-input-selected-text: var(--color-white);
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

::placeholder {
  color: var(--color-primary-black);
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--color-primary-black);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--color-primary-black);
}
