.dateSelector {
  position: relative;
  background: var(--color-white);

  box-sizing: border-box;
  margin-bottom: var(--spacing-2-xs);

  .button {
    background: transparent;
    border: none;
    min-height: var(--spacing-3-xl);

    padding: var(--spacing-xs);
    width: 100%;
    height: var(--spacing-3-xl);
    display: flex;
    align-items: center;

    &:focus {
      outline: 3px solid var(--color-coat-of-arms);
      outline-offset: 2px;
    }
  }

  .iconWrapper {
    --icon-size: var(--spacing-layout-xs);
    display: flex;
    align-self: center;
    padding-right: var(--spacing-3-xs);
    svg {
      width: var(--icon-size);
      margin-right: var(--spacing-xs);
      fill: var(--color-primary-black);
      & > g {
        color: var(--color-primary-black);
      }
    }
  }

  .info {
    flex: 1 1 0%;
    text-align: left;
    position: relative;
    height: 1.25rem;
    font-size: var(--fontsize-body-m);

    .buttonTextWrapper {
      padding-left: var(--spacing-3-xs);
      white-space: nowrap;
      overflow: hidden;
      position: absolute;
      left: 0;
      top: 0;
      line-height: 1.25rem;
      right: 0;
      text-overflow: ellipsis;
      color: var(--color-primary-black);

      &.isEmpty {
        color: var(--placeholder-color, var(--color-black-60));
      }
    }
  }

  .arrowWrapper {
    --icon-size: var(--spacing-layout-xs);
    display: flex;
    align-self: center;

    svg {
      margin-left: 0.75rem;
      pointer-events: none;
      width: var(--icon-size);
      & > g {
        color: var(--color-primary-black);
      }
    }
  }
}

.isSelectedIndicator {
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: var(--color-tram-dark);
}
