@import 'src/styles/breakpoints';

.tabsMobile {
  @include respond-above(l) {
    display: none;
  }
}

.tabs {
  display: flex;
  justify-content: flex-start;
  gap: var(--spacing-m);

  @include respond-below(l) {
    display: none;
  }

  & > button {
    --border-color: var(--color-black-80, transparent);
    margin: 0 0 0;
    color: var(--color-black-80);
  }

  .secondaryButton {
    --color: var(--color-black-80);
    --color-hover: var(--color-black-5);
    --color-focus: var(--color-black-80);

    --border-color: var(--color-black-80);
    --border-color-hover: var(--color-black-80);
    --border-color-focus: var(--color-black-80);
    --border-color-hover-focus: var(--color-black-80);

    &:active,
    &:focus {
      background-color: var(--color-white);
      color: var(--color-black-80);
    }

    &:hover,
    &:not(:disabled):focus:hover {
      background-color: var(--color-black-5);
      color: var(--color-black-80);
    }
  }

  .active,
  .active:hover,
  .active:active,
  .active:focus,
  .active:not(:disabled):focus:hover {
    background-color: var(--color-black-80);
    color: var(--color-white);
    cursor: default;
  }
}
