@use '../../../../styles/breakpoints' as breakpoints;

.tabsMobile {
  @include breakpoints.respond-above(l) {
    display: none;
  }
}

.tabsMobileSelect {
  --icon-size: var(--spacing-layout-xs);
  --border-width: 2px;
  --dropdown-border-color-default: var(--color-black);

  ---dropdown-height: var(--spacing-3-xl);
  --menu-item-height: var(---dropdown-height);

  max-width: unset !important;
  height: var(--dropdown-height);

  span {
    margin-right: 0;
    margin-left: var(--spacing-4-xs);
    font-size: var(--fontsize-body-m);
    line-height: 1.5rem;
  }

  /* Icon on start of button */
  svg {
    width: var(--icon-size);
  }
}

.tabs {
  display: flex;
  justify-content: flex-start;
  gap: var(--spacing-m);

  @include breakpoints.respond-below(l) {
    display: none;
  }

  & > button {
    --border-color: var(--color-black-80, transparent);
    margin: 0 0 0;
    color: var(--color-black-80);
  }

  .secondaryButton {
    --color: var(--color-black-80);
    --color-hover: var(--color-black-5);
    --color-focus: var(--color-black-80);

    --border-color: var(--color-black-80);
    --border-color-hover: var(--color-black-80);
    --border-color-focus: var(--color-black-80);
    --border-color-hover-focus: var(--color-black-80);

    &:active,
    &:focus {
      background-color: var(--color-white);
      color: var(--color-black-80);
    }

    &:hover,
    &:not(:disabled):focus:hover {
      background-color: var(--color-black-5);
      color: var(--color-black-80);
    }
  }

  .active,
  .active:hover,
  .active:active,
  .active:focus,
  .active:not(:disabled):focus:hover {
    background-color: var(--color-black-80);
    color: var(--color-white);
    cursor: default;
  }
}
