.accessibilitySentences {
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: var(--fontsize-body-l);
    color: var(--color-success-dark);
    height: auto;
    padding: 0;
    svg {
      margin-left: var(--spacing-3-xs);
    }
  }
  ul {
    list-style-type: disc;
  }

  p {
    font-weight: 700;
    margin: 0;
  }

  p:first-child {
    margin-top: var(--spacing-m);
  }
}

// .accessibilityTitle {
// }
