@use 'src/styles/breakpoints';
@import 'src/styles/variables';

.box {
  --width: 100%;
  --max-width: 20rem;

  grid-row: 1;
  align-self: center;
  background-color: rgba(var(--color-black), 70%);
  width: var(--width);
  max-width: var(--max-width);
  margin-top: 10vh;
  padding: var(--spacing-m);

  @include breakpoints.respond-above(m) {
    --width: 30rem;
    --max-width: unset;
  }
}

.boxHelper > p {
  color: var(--color-white) !important;
  margin-bottom: var(--spacing-s) !important;
}

.boxTitle {
  margin-top: 0;
  padding-top: 0;
  color: var(--color-white);
  line-height: var(--lineheight-s);
  margin-bottom: var(--spacing-m);
}

.linkButton {
  display: block;
  margin-top: var(--spacing-s);
  padding: var(--spacing-xs);
  width: fit-content;
  background-color: var(--color-coat-of-arms);
  border-color: var(--color-coat-of-arms);
  color: var(--color-white) !important;
  text-decoration: none !important;

  &:hover {
    background-color: var(--color-coat-of-arms-dark);
    border-color: var(--color-coat-of-arms-dark);
  }
}
