@use '../../styles/breakpoints' as breakpoints;
@use '../../styles/variables' as variables;

.box {
  --width: 100%;
  --max-width: 20rem;

  grid-row: 1;
  align-self: center;
  background-color: rgba(variables.$color-black, 70%);
  width: var(--width);
  max-width: var(--max-width);
  margin-top: 10vh;
  padding: variables.$spacing-m;

  @include breakpoints.respond-above(m) {
    --width: 30rem;
    --max-width: unset;
  }
}

.boxHelper > p {
  color: variables.$color-white !important;
  margin-bottom: variables.$spacing-s !important;
}

.boxTitle {
  margin-top: 0;
  padding-top: 0;
  color: variables.$color-white;
  line-height: variables.$lineheight-s;
  margin-bottom: variables.$spacing-m;
}

.linkButton {
  display: block;
  margin-top: variables.$spacing-s;
  padding: variables.$spacing-xs;
  width: fit-content;
  background-color: variables.$color-coat-of-arms;
  border-color: variables.$color-coat-of-arms;
  color: variables.$color-white !important;
  text-decoration: none !important;

  &:hover {
    background-color: variables.$color-coat-of-arms-dark;
    border-color: variables.$color-coat-of-arms-dark;
  }
}
