@import 'fonts';

html,
#__next,
main {
  height: 100%;
  color: var(--color-black-90);
}

* {
  box-sizing: border-box;
  font-family: $font-family-base;
  --menu-item-background-color-highlighted: var(--color-success);
}

.pageLayout {
  row-gap: 0 !important;
}

.articlesArchive {
  button,
  button:active {
    background-color: var(--color-success);
    border: none;
  }
  button:hover,
  button:focus {
    background-color: var(--color-success-dark);
  }
}

:root {
  --color-theme-background: var(--color-engel-medium-light);
  --color-primary-black: var(--color-black-90);
  --color-secondary-link: var(--color-success-dark);
  --color-input-light: var(--color-success-light);
  --color-input: var(--color-success);
  --color-input-dark: var(--color-success-dark);
  --color-input-selected-text: var(--color-white);

  /*hcrc styles*/
  --hcrc-color-link-show-all: var(--color-success-dark);
  --hcrc-color-hero-bg: var(--color-theme-background);
  --hcrc-color-archive-search-bg: var(--color-theme-background);
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#cookie-consent-language-selector-button {
  display: none;
}
