@use '../../../styles/breakpoints' as breakpoints;
@use '../../../styles/variables' as variables;
@use '~@events-helsinki/components/src/styles/helsinkiCityOwned';

.venueInfo {
  padding: 0;
  font-size: var(--fontsize-body-l);

  display: grid;
  grid-template-columns: 1fr;

  @include breakpoints.respond-above(m) {
    padding: var(--spacing-xl);
    padding-right: 0;
  }

  .contentWrapper {
    & > div {
      margin-bottom: var(--spacing-l);
    }
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--spacing-s) 0;
    color: var(--color-secondary-link);
    outline: none !important;
    font-weight: 600;
    padding: 0;
    svg g * {
      color: var(--color-secondary-link);
    }
  }

  button:hover {
    text-decoration: underline;
  }

  .focusVisible {
    &:focus {
      outline: 2px solid var(--color-primary-black) !important;
      outline-offset: -2px;
    }
  }
}

.buyButtonWrapper {
  margin-top: var(--spacing-s);
}

a.link {
  margin: var(--spacing-xs) 0;
  padding: 0;

  &,
  &:visited {
    color: var(--color-secondary-link);
  }

  svg g * {
    color: var(--color-secondary-link);
  }
}

a.marginlessLink {
  @extend a, .link;
  margin: 0;
}

.list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: variables.$lineheight-l;
  font-size: variables.$fontsize-body-l;

  &.main {
    & > li:not(:last-child) {
      margin-bottom: variables.$spacing-s;
    }
  }
  &.other {
    & > li:first-child {
      margin-top: variables.$spacing-s;
    }
  }
}
