@use '../../styles/breakpoints';

.aboveXs {
  @include breakpoints.respond-below(xs) {
    display: none !important;
  }
}

.aboveS {
  @include breakpoints.respond-below(s) {
    display: none !important;
  }
}

.aboveM {
  @include breakpoints.respond-below(m) {
    display: none !important;
  }
}

.aboveL {
  @include breakpoints.respond-below(l) {
    display: none !important;
  }
}

.aboveXl {
  @include breakpoints.respond-below(xl) {
    display: none !important;
  }
}

.belowXs {
  @include breakpoints.respond-above(xs) {
    display: none !important;
  }
}

.belowS {
  @include breakpoints.respond-above(s) {
    display: none !important;
  }
}

.belowM {
  @include breakpoints.respond-above(m) {
    display: none !important;
  }
}

.belowL {
  @include breakpoints.respond-above(l) {
    display: none !important;
  }
}

.belowXl {
  @include breakpoints.respond-above(xl) {
    display: none !important;
  }
}
