@use '../../../../styles/breakpoints' as breakpoints;

.eventContent {
  background-color: var(--color-white);

  .contentWrapper {
    display: grid;
    grid-template-columns: unset;
    position: relative;

    &.noSimilarEvents {
      margin-bottom: 120px;
    }

    .leftEmpty {
      padding: var(--spacing-m) calc(var(--spacing-4-xl) + 40px)
        var(--spacing-m) 0;
    }

    /* 
    When using bigger than mobile sized screen, the content order would be: 
    1. event description
    2. share buttons, 
    3. map, 
    4. sidebar
    5. other events, footer, etc...
    */
    @include breakpoints.respond-below(m) {
      .leftEmpty {
        position: absolute;
        padding: 0;
      }
      .sidebar {
        padding-top: var(--spacing-xl);
      }
    }
    /* 
    When using mobile sized screen, switch the sidebar with 
    secondary data (location / map, share buttons...) in main content,
    so in mobile the order would be: 
    1. event description
    2. sidebar
    3. share buttons, 
    4. map, 
    5. other events, footer, etc...
    */
    @include breakpoints.respond-above(m) {
      grid-template-columns: auto 2fr 1fr;
      grid-template-rows: auto 1fr;

      .mainContent  {
        grid-column: 2;
      }

      .sidebar {
        grid-column: 3;
        grid-row: 1 / span 2;
      }

      .secondaryContent {
        grid-column: 2;
      }

      .leftEmpty {
        grid-column: 1;
        grid-row: 1 / span 2;
      }
    }
  }
}
.descriptionTitle {
  font-size: var(--fontsize-heading-m);
  font-weight: 500;
  margin: 2.25rem 0 1rem;
}

.description {
  --description-font-size: var(--fontsize-body-l);
  line-height: 1.5;
  font-size: var(--description-font-size);

  p {
    font-size: var(--description-font-size);
    margin: 1rem 0;
  }

  a {
    text-decoration: underline;
    font-size: var(--description-font-size);
  }
  a:hover {
    color: var(--color-coat-of-arms-dark);
  }
}
