@import 'src/styles/breakpoints';

.eventCard {
  --height-image: 14.5rem;
  --link-arrow-color: black;
  --link-arrow-label-color: var(--color-black-80);
  --link-arrow-label-alert-color: #b01038;

  word-break: break-word;
  min-width: fit-content;
  text-decoration: none;
  background-color: var(--color-white);
  display: grid;
  height: 100%;
  border: 1px solid var(--color-black-20);

  @include respond_above(s) {
    grid-template-columns: 4fr 5fr;
    word-break: unset;
  }

  .imageWrapper {
    order: 1;
    min-height: var(--height-image);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    padding: var(--spacing-s);
    display: flex;
    text-decoration: none;

    .keywordWrapper {
      display: flex;
      align-self: flex-end;

      @include respond_above(s) {
        display: none;
      }
    }
  }

  .infoWrapper {
    order: 2;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-s);
    grid-template-rows: auto 1fr auto;

    .eventName {
      order: 1;
      font-size: var(--fontsize-heading-l);
      line-height: var(--lineheight-m);
      margin-bottom: var(--spacing-s);
      color: var(color-black);
      text-decoration: none;
    }

    .eventDateAndTime {
      display: flex;
      order: 2;
      font-size: var(--fontsize-body-l);
      line-height: var(--lineheight-m);
      margin-bottom: var(--spacing-s);

      svg {
        margin-right: var(--spacing-2-xs);
      }
    }

    .eventLocation {
      display: flex;
      order: 3;
      font-size: var(--fontsize-body-l);
      line-height: var(--lineheight-m);
      margin-bottom: var(--spacing-s);
      color: var(color-black-80);

      svg {
        margin-right: var(--spacing-2-xs);
        min-width: var(--spacing-layout-xs);
        min-height: var(--spacing-layout-xs);
      }
    }

    .eventAudienceAge {
      display: flex;
      order: 4;
      font-size: var(--fontsize-body-l);
      line-height: var(--lineheight-m);
      margin-bottom: var(--spacing-s);
      color: var(color-black-80);
      svg {
        margin-right: var(--spacing-2-xs);
      }
    }

    .eventPrice {
      display: flex;
      order: 5;
      font-size: var(--fontsize-body-l);
      line-height: var(--lineheight-m);
      margin-bottom: var(--spacing-s);
      color: var(color-black-80);
      svg {
        margin-right: var(--spacing-2-xs);
      }
    }

    .keywordWrapperDesktop {
      order: 6;
      //padding: var(--spacing-xs) 0;

      @include respond_below(s) {
        display: none;
      }
    }

    .buttonWrapper {
      order: 7;
      display: flex;
      flex-wrap: wrap;
      margin-top: var(--spacing-s);

      @include respond_above(s) {
        order: 6;
      }

      &.rightAlign {
        justify-content: flex-end;
      }

      .arrowRight,
      .linkArrowLabel {
        @include respond_above(s) {
          margin-top: var(--spacing-s);
        }
      }

      div {
        flex: 1 1 0%;
        display: flex;
        align-items: center;

        &:first-child {
          margin-right: var(--spacing-3-xs);
        }

        &:last-child {
          padding-left: var(--spacing-3-xs);
        }

        @include respond_above(s) {
          flex: none;
        }

        button {
          margin-top: var(--spacing-3-xs);
        }

        .linkArrowLabel {
          color: var(--link-arrow-label-color);

          &.alert {
            color: var(--link-arrow-label-alert-color) !important;
          }
        }
      }
    }
  }
}
