@use '../../../styles/breakpoints' as breakpoints;

$buttonWidth: 180px;

.searchContainerKoros {
  fill: var(--color-white);
}

.mapView {
  padding: 0 !important;
}

.searchTitle {
  font-size: var(--fontsize-heading-xl);
  font-weight: 500;
  margin-top: 2px;
  margin-bottom: var(--spacing-xl);

  &.withDescription {
    margin-bottom: var(--spacing-s);
  }
}

.searchDescription {
  font-size: var(--fontsize-heading-m);
  margin-top: var(--spacing-s);
  margin-bottom: var(--spacing-xl);
}

.searchContainer {
  color: var(--color-primary-black);
  background-color: var(--color-theme-background);
  padding: 2.375rem 0 1.5rem 0;
  position: relative;

  .noKoros {
    margin-bottom: 0 !important;
  }

  .contentContainer {
    margin-bottom: 2.375rem;

    h2 {
      font-size: var(--fontsize-heading-xl);
      font-weight: 500;
      margin-top: 2px;
      margin-bottom: var(--spacing-xl);
    }
  }
}

.buttonWrapperWithTargetGroupFilter {
  @include breakpoints.respond-between(s, m) {
    grid-column: span 3 / 3;
  }

  @include breakpoints.respond-above(m) {
    grid-column: span 1 / 4;
  }
}

.buttonWrapperWithoutTargetGroupFilter {
  @include breakpoints.respond-between(s, m) {
    grid-column: span 2 / 3;
  }

  @include breakpoints.respond-above(m) {
    grid-column: span 1 / 3;
  }
}

.rowBase {
  display: grid;
  grid-gap: var(--spacing-xs);

  @include breakpoints.respond-above(s) {
    grid-template-columns: 1fr 1fr;
  }
}

.rowWithTargetGroupFilter {
  @extend .rowBase;

  @include breakpoints.respond-above(m) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.rowWithoutTargetGroupFilter {
  @extend .rowBase;

  @include breakpoints.respond-above(m) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.rowWrapper {
  display: grid;
  height: fit-content;
  align-items: center;

  grid-template-columns: 1fr;
  grid-gap: var(--spacing-s);

  margin-bottom: var(--spacing-xs);

  @include breakpoints.respond-above(s) {
    grid-template-columns: 1fr;
    grid-gap: var(--spacing-s);

    margin-bottom: var(--spacing-xs);
  }
}

.label {
  font-size: var(--fontsize-body-m);
  font-weight: 500;
  line-height: normal;

  @include breakpoints.respond-below(s) {
    display: none;
  }
}

.searchUtilities {
  padding: 0 0 var(--spacing-xs) 0;
  position: relative;
}

.textSearchRow {
  align-items: flex-end;
  margin-bottom: var(--spacing-2-xs);

  @include breakpoints.respond-above(m) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  & > :first-child {
    @include breakpoints.respond-above(s) {
      grid-column: 1 / 5;
    }
    padding: var(--spacing-xs);

    svg {
      margin-right: var(--spacing-xs);
    }
  }

  .searchInputWrapper {
    padding-left: var(--spacing-2-xs);
  }
}
.categoriesSelector,
.targetGroupSelector,
.accessibilityProfileSelector {
  --icon-size: var(--spacing-layout-xs);
  --border-width: 0;
  ---dropdown-height: var(--spacing-3-xl);
  --menu-item-height: var(---dropdown-height);

  max-width: unset !important;
  height: var(--dropdown-height);

  span {
    margin-right: 0;
    margin-left: var(--spacing-4-xs);
    font-size: var(--fontsize-body-m);
    line-height: 1.5rem;
  }

  /* Icon on start of button */
  svg {
    width: var(--icon-size);
  }
}
