@import 'fonts';

html,
body,
#__next,
main {
  height: 100%;
  color: var(--color-black-90);
}

* {
  box-sizing: border-box;
  font-family: $font-family-base;
  --menu-item-background-color-highlighted: var(--color-coat-of-arms-dark);
}

.pageLayout {
  row-gap: 0 !important;
}

:root {
  --color-theme-background: var(--color-fog-medium-light);
  --color-primary-black: var(--color-black-90);
  --color-secondary-link: var(--color-coat-of-arms-dark);
  --color-input-light: var(--color-fog-light);
  --color-input: var(--color-fog);
  --color-input-dark: var(--color-coat-of-arms-dark);
  --color-input-selected-text: var(--color-black-90);

  /*hcrc styles*/
  --hcrc-color-link-show-all: var(--color-coat-of-arms-dark);
  --hcrc-color-hero-bg: var(--color-theme-background);
  --hcrc-color-archive-search-bg: var(--color-theme-background);
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

::placeholder {
  color: var(--color-black-60);
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--color-black-60);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--color-black-60);
}

#cookie-consent-language-selector-button {
  display: none;
}
