@import 'fonts';

html,
body,
#__next,
main {
  height: 100%;
}

* {
  //padding: 0;
  //margin: 0;
  color: var(--color-black-90);
  box-sizing: border-box;
  font-family: $font-family-base;
}

.pageLayout {
  row-gap: 0 !important;
}

:root {
  --color-theme-background: var(--color-fog-medium-light);
  --color-primary-black: var(--color-black-90);
  --color-secondary-link: var(--color-coat-of-arms-dark);
  --color-link-show-all: var(--color-coat-of-arms-dark);
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
