@use '../../../styles/breakpoints' as breakpoints;

.venueListWrapper {
  .venuesWrapper {
    display: grid;
    grid-gap: var(--spacing-xs);
    margin-bottom: 1.5rem;

    @include breakpoints.respond-above(s) {
      grid-gap: var(--spacing-s);
      margin-bottom: var(--spacing-xl);
    }
  }
  .loadMoreWrapper {
    display: flex;
    justify-content: center;

    &.buttonCentered {
      text-align: center;
    }
  }
}
