@use '../../styles/variables' as variables;

.container {
  white-space: pre-wrap;
}

.button {
  display: flex;
  margin-top: variables.$spacing-2-xs;
  padding: 0;

  font-family: inherit;
  font-weight: 500;
  color: variables.$color-bus;

  background: none;
  border: none;
  cursor: pointer;
}
