# .github/workflows/release-please.yml
name: release-please
on:
  push:
    branches:
      - main
  # Run daily to keep the release PR date current
  schedule:
    - cron: '1 0 * * *'
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  common:
    uses: City-of-Helsinki/.github/.github/workflows/release-please.yml@main
