# .github/workflows/release-please.yml
name: release-please
on:
  push:
    branches:
      - main
  schedule:
    - cron: '1 0 * * *'
  workflow_dispatch:

jobs:
  release-please:
    uses: City-of-Helsinki/.github/.github/workflows/release-please.yml@main